- page.metadata.description = (page.metadata.description) ? page.metadata.description : 'Recipes for Bootstrappers & Hungry Hackers'
- page.metadata.image = (page.metadata.image) ? page.metadata.image : 'https://avatars2.githubusercontent.com/u/3324449?s=400'
doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title= (page.title === '') ? 'StartupSupper - Recipes for Bootstrappers & Hungry Hackers' : 'StartupSupper - ' + page.title + ' Recipe'
    meta(name='description', content=page.metadata.description)
    meta(http-equiv='cleartype', content='on')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(property='og:site_name', content='StartupSupper')
    meta(property='og:type', content='website')
    meta(property='og:title', content=page.title)
    meta(property='og:description', content=page.metadata.description)
    meta(property='og:image', content=page.metadata.image)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:100,300,400,900|Inconsolata')
    link(rel='stylesheet', href='/style/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/style/bootstrap/responsive.css')
    link(rel='stylesheet', href='/style/autocomplete.css')
  body

    //- newsletter signup
    #newsletter(tabindex='-1', role='dialog', aria-labeledby='newsletter-label', aria-hidden='true').modal.hide.fade
      .modal-header
        button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
        h3#newsletter-label Get weekly recipes
      .modal-body
        form(action='http://startupsupper.us6.list-manage1.com/subscribe/post?u=02d75e52b9eeb96bfb84bef02&amp;id=05dc247e98', method='post').form-inline.hidden-phone
          .input-append
            input(type='email', name='EMAIL', placeholder='Email address', required)
            button(type='submit').btn.btn-primary Subscribe
        form(action='http://startupsupper.us6.list-manage1.com/subscribe/post?u=02d75e52b9eeb96bfb84bef02&amp;id=05dc247e98', method='post').visible-phone
          .input-append
            input(type='email', name='EMAIL', placeholder='Email address', required)
            button(type='submit').btn.btn-primary Subscribe
          .text-success.pull-right <i class="icon-ok-sign"></i> No spam
      .modal-footer
        .hidden-phone.text-success.pull-left <i class="icon-ok-sign"></i> We'll never spam you.
        button(data-dismiss='modal', aria-hidden='true').btn Close
        a(href='#example', data-toggle='modal').btn.btn-success.hidden-phone View Example

    #example(tabindex='-1', role='dialog', aria-labeledby='example-label', aria-hidden='true').modal.hide.fade
      .modal-header
        button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
        h3#example-label Here's an example newsletter:
      .modal-body
        table.table.table-bordered
          thead
            tr
              th To:
              td your@email.com
            tr
              th From:
              td startupsupper@gmail.com
            tr
              th Subject:
              td StartupSupper - Pepper Steak Stir Fry
          tbody
            tr
              th(colspan=2) Message:
            tr
              td(colspan=2)
                - var recipe = 'pepper-steak-stir-fry'
                - var metadata = contents.recipes[recipe]['index.md'].metadata
                h1= metadata.title
                img(src='/recipes/' + recipe + '/' + metadata.photo, alt=metadata.title)
                - if (metadata.ingredients)
                  h3 Ingredients
                  ul
                    each ingredient in metadata.ingredients
                      li= ingredient
                - if (metadata.dependencies)
                  h3 Dependencies
                  ul
                    each dependency in metadata.dependencies
                      li= dependency
                - if (metadata.options)
                  h3 Options
                  ul
                    each opt in metadata.options
                      li= opt
                - if (metadata.steps)
                  h2 Steps
                  ol
                    each step in metadata.steps
                      li= step
                p
                  | View this recipe on <strong>StartupSupper</strong>:
                  br
                  a(href='http://startupsupper.com/recipes/' + recipe + '/', target='_blank')= 'http://startupsupper.com/recipes/' + recipe + '/'

      .modal-footer
        button(data-dismiss='modal', aria-hidden='true').btn Close

    //- the goods
    #wrap
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            .pull-right.hide-on-print
              button(type='button', data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
              form.form-inline.hidden-phone.pull-left.navbar-form(action='http://startupsupper.us6.list-manage1.com/subscribe/post?u=02d75e52b9eeb96bfb84bef02&amp;id=05dc247e98', method='post')
                .pull-left.navbar-text Get weekly recipes:&nbsp;
                .input-append.pull-left
                  <input class="span2" type="email" id='navbar-email' name='EMAIL' placeholder="Email address" required /><button class="btn btn-inverse" type="submit"><i class="icon-envelope-alt"></i></button>
              //-.
                span.pull-left &nbsp;
                form.navbar-search.hidden-phone
                  .input-append
                    <input name="search" type="text" placeholder="Search for a recipe&hellip;" id="st-search-input">
                    <button type="submit" class="btn btn-inverse"><i class="icon-search"></i></button>
            a(href='/').brand
              i.icon-startupsupper
              | &nbsp;
              | StartupSupper
            .nav-collapse.collapse
              ul.nav
                li
                  form.navbar-search
                    .input-append
                      <input name="search" type="text" placeholder="Search for a recipe&hellip;" id="st-search-input">
                      <button type="submit" class="btn btn-inverse"><i class="icon-search"></i></button>
                li(class=page.metadata.template === 'index.jade' ? 'active' : ''): a(href='/') <i class="icon-star"></i> Featured
                li(class=page.metadata.template === 'recipes.jade' || page.url.indexOf('/recipes') === 0 ? ' active' : ''): a(href='/recipes') <i class="icon-food"></i> Recipes
                li.dropdown
                  a(href='#', data-toggle='dropdown').dropdown-toggle <i class="icon-gift"></i> Goodies <b class="caret"></b>
                  ul.dropdown-menu
                    li: a(href='#newsletter', data-toggle='modal', data-target='#newsletter') <i class="icon-envelope-alt"></i> Newsletter
                    li: a(href='https://github.com/startupsupper/startupsupper.github.com', target='_blank') <i class="icon-github"></i> Github
                    li: a(href='https://www.facebook.com/startupsupper', target='_blank') <i class="icon-facebook-sign"></i> Facebook
                    li: a(href='https://twitter.com/startupsupper', target='_blank') <i class="icon-twitter"></i> Twitter
                    li: a(href='http://pinterest.com/startupsupper', target='_blank') <i class="icon-pinterest"></i> Pinterest
                    li: a(href='/api.json', target='_blank') <i class="icon-list-alt"></i> API Feed
      - if (page.metadata.heroUnit)
        .hero-unit.background
          .container
            h1 Recipes for Bootstrappers &amp; Hungry Hackers
            blockquote
              h4 Living on instant ramen would be very unhealthy.
              small Paul Graham in <cite><strong><a href="http://paulgraham.com/ramenprofitable.html#f1n" target="_blank">Ramen Profitable</a></strong></cite>
            p
              .pull-left
                button(data-toggle='modal', data-target='#newsletter').btn.btn-success.btn-large.hidden-phone <i class="icon-envelope-alt"></i> Join our Newsletter
                button(data-toggle='modal', data-target='#newsletter').btn.btn-success.btn-large.visible-phone <i class="icon-envelope-alt"></i> Join
              .pull-left &nbsp;
              .pull-left
                a(href='https://github.com/startupsupper/startupsupper.github.com#startupsupper', target='_blank').btn.btn-inverse.btn-large.hidden-phone <i class="icon-github"></i> Contribute on Github
                a(href='https://github.com/startupsupper/startupsupper.github.com#startupsupper', target='_blank').btn.btn-inverse.btn-large.visible-phone <i class="icon-github"></i> Github
      .container
        block content
          != page.html
      #push
    footer#footer.hide-on-print
      .container
        p.muted.pull-right.credit
          != '&copy; ' + new Date().getFullYear()
          | &nbsp;
          span.hidden-phone StartupSupper
        p.muted.credit Curated by <a href="http://niftylettuce.com" target="_blank">Nick</a>, <a href="http://www.strikingly.com" target="_blank">Teng</a>, and <a href="http://lepahc.com" target="_blank">Jacob</a>
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')
    script(src='/js/vendor/bootstrap/build/bootstrap.min.js')
    script(src='/js/vendor/jquery.swiftype.autocomplete.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js')
    script(src='/js/vendor/jquery.infinitescroll.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js')
    script.
      $('#st-search-input').swiftype({
        engineKey: 'S2Uk8LwYqbY4NPh7pmoo'
      })
      var $iso = $('#iso')
      if ($iso.length === 1)
        $iso.imagesLoaded(function() {
          $iso.isotope({
            itemSelector: '.post',
            masonry: {
              isFitWidth: true,
              gutter: 20
            }
          })
        })
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38260551-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
